
/* --HEADER--*/
header {
  background-color: rgb(71, 67, 67); 
  padding: 0px 0px 20px 0px;
}
header h1 {
  
  margin: 0;
  color: rgb(240, 238, 238);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 52px;
  text-align: center;
  padding: 60px 0px 0px 0px;
}
header h3 {
  
  color: rgb(240, 238, 238);
  font-size: 25px;
  text-align: center;
  padding: 0px 0px 20px 0px;
}
/*--LINKS--*/
a {
  font-family: Arial, sans-serif;
  font-size: 16px;
}

a:link    { color: blue;  }
a:visited { color: red;   }
a:hover   { color: rgb(150, 115, 233); }
a:active  { color: rgb(190, 192, 46);  }


/*--MAIN--*/



main {
  margin: 0;
  height: 100;
  background-color: lightgray;
  text-align: center;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 16px;
  padding: 0px 40px 0px 40px;
}
li{
  text-align: left
}










/*--footer--*/

footer {
  background-color: rgb(71, 67, 67);
}

footer  {
  margin: 0;
  color: rgb(240, 238, 238);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 20px;
  text-align: center;
  padding: 20px 0 20px 20px;

